body {
    font-family: 'Arial', sans-serif;
    background-color: #4d8c57;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000vh;
    margin: 10;
}

.container {
    text-align: center;
    background-color: #f3ef09;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 170, 51, 0.1);
}

h1 {
    color: #3ffc06;
}

p {
    font-size: 24px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: hsl(305, 93%, 49%);
    color: #3d0af5;
    border: 10px;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #2980b9;
}
